<section>
  <div class="container-fluid pt-9">
    <div class="row">
      <div>

        {{! MENU BOUTON S'ENREGISTRER/SE CONNECTER/MOT DE PASSE OUBLIÉ }}
        <ul
          class="nav nav-pills mb-3 col-md-12 d-flex justify-content-center"
          id="pills-tab-menuConnexion"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-senregistrer-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-senregistrer"
              type="button"
              role="tab"
              aria-controls="pills-senregistrer"
              aria-selected="true"
            >S'enregistrer</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-seConnecter-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-seConnecter"
              type="button"
              role="tab"
              aria-controls="pills-seConnecter"
              aria-selected="false"
            >Se connecter</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-mdp-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-mdpoub"
              type="button"
              role="tab"
              aria-controls="pills-mdpoub"
              aria-selected="false"
            >Mot de passe oublié</button>
          </li>
        </ul>

        {{! FORMULAIRE S'ENREGISTRER/SE CONNECTER/MOT DE PASSE OUBLIÉ }}
        <div
          class="tab-content col-md-12 d-flex justify-content-center"
          id="pills-tabContent"
        >

          {{! FORMULAIRE S'ENREGISTRER }}
          <div
            class="tab-pane fade"
            id="pills-senregistrer"
            role="tabpanel"
            aria-labelledby="pills-senregistrer-tab"
          >
            <form action="/register" method="post">
              <div class="row pt-5">

                {{! INPUT S'ENREGISTRER EMAIL }}
                <div class="form-floating mb-3 col-md-6">
                  <input
                    required
                    type="email"
                    name="email"
                    class="form-control"
                    id="inputSenregistrerEmail1"
                    placeholder="name@example.com"
                  />
                  <label class="ps-4" for="floatingInput">Entrez votre Email</label>
                </div>

                {{! INPUT S'ENREGISTRER NAME }}
                <div class="form-floating mb-3 col-md-6 ms-0">

                  <input
                    required
                    type="text"
                    name="name"
                    class="form-control"
                    id="inputSenregistrerName1"
                    placeholder="Nom et Prénom"
                  />
                  <label class="ps-4" for="floatingText">Votre Nom et Prénom</label>
                </div>

                {{! INPUT S'ENREGISTRER PASSWORD }}
                <div class="form-floating mb-3 col-md-6">
                  <input
                    required
                    type="password"
                    name="password"
                    class="form-control"
                    id="inputSenregistrerPassword1"
                    placeholder="name@example.com"
                  />
                  <label class="form-label ps-4" for="floatingInput">Votre
                    password</label>
                </div>

                {{! REPEAT S'ENREGISTRER PASSWORD }}
                <div class="form-floating mb-3 col-md-6">
                  <input
                    required
                    type="password"
                    name="passwordConfirm"
                    class="form-control"
                    id="inputSenregistrerPassword2"
                    placeholder="name@example.com"
                  />
                  <label class="form-label ps-4" for="floatingInput">Votre
                    password</label>
                </div>

                {{! CGU }}
                <div
                  class="mb-3 form-check ps-5 pt-3 pb-3 d-flex justify-content-center"
                >
                  <input
                    required
                    type="checkbox"
                    name="accept"
                    class="form-check-input"
                    id="checkFormSenregistrer"
                  />
                  <label for="check" class="form-check-label ps-2">Accepter les
                    CGU</label>
                </div>

                {{! BOUTON SUBMIT S'ENREGISTRER }}
                <div class="row">
                  <div class="d-grid gap-2 col-4 mx-auto">
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >Submit</button>
                  </div>
                </div>

              </div>
            </form>

          </div>

          {{! FORMULAIRE SE CONNECTER }}
          <div
            class="tab-pane fade show active"
            id="pills-seConnecter"
            role="tabpanel"
            aria-labelledby="pills-seConnecter-tab"
          >
            <form action="/login" method="post">
              <div class="row pt-5">
                {{! INPUT SE CONNECTER EMAIL }}
                <div class="form-floating mb-3 col-md-6">
                  <input
                    required
                    type="email"
                    name="email"
                    class="form-control"
                    id="inputSeconnecterEmail1"
                    placeholder="name@example.com"
                  />
                  <label class="ps-4" for="floatingInput">Entrez votre Email</label>
                </div>

                {{! INPUT SE CONNECTER PASSWORD }}
                <div class="form-floating mb-3 col-md-6">
                  <input
                    required
                    type="password"
                    class="form-control"
                    name="password"
                    id="inputSeconnecterPassword1"
                    placeholder="name@example.com"
                  />
                  <label class="form-label ps-4" for="floatingInput">Votre
                    password</label>
                </div>

                {{! CGU }}
                <div
                  class="mb-3 form-check ps-5 pt-3 pb-3 d-flex justify-content-center"
                >
                  <input
                    required
                    type="checkbox"
                    class="form-check-input"
                    id="checkFormSeconnecter"
                  />
                  <label for="check" class="form-check-label ps-2">Accepter les
                    CGU</label>
                </div>

                {{! BOUTON SUBMIT S'ENREGISTRER }}
                <div class="row">
                  <div class="d-grid gap-2 col-4 mx-auto">
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          {{! FORMULAIRE MOT DE PASSE OUBLIÉ }}
          <div
            class="tab-pane fade"
            id="pills-mdpoub"
            role="tabpanel"
            aria-labelledby="pills-mdpoub-tab"
          >
            
            <form action="/verification" method="POST">
              <h4 class="fs-6 light pt-5 pb-5">Saisissez l'adresse e-mail ou le numéro de téléphone portable
                  associé à votre compte "Embarquement immédiat"</h4>
              <div class="row">
                {{!-- INPUT EMAIL MDP OUBLIÉ --}}
                <div class="form-floating mb-3 col-md-12">
                  <input
                    required
                    type="email"
                    name="email"
                    class="form-control"
                    id="inputMdpOubEmail1"
                    placeholder="name@example.com"
                  />
                  <label class="ps-4" for="floatingInput">Entrez votre Email</label>
                </div>

                {{! CGU }}
                <div
                  class="mb-3 form-check ps-5 pt-3 pb-3 d-flex justify-content-center"
                >
                  <input
                    required
                    type="checkbox"
                    class="form-check-input"
                    id="checkFormMdpoub"
                  />
                  <label for="check" class="form-check-label ps-2">Accepter les
                    CGU</label>
                </div>

                {{! BOUTON SUBMIT S'ENREGISTRER }}
                <div class="row">
                  <div class="d-grid gap-2 col-4 mx-auto">
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
