{{!
Partial
:navbar
}}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo2.png" alt="" width="150" height="80" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#monMenu"
      aria-controls="monMenu"
      aria-expanded="false"
      aria-label="menu for mobil"
    ><span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="monMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">A propos de nous</a>
        </li>
        {{!-- Condition qui permet de savoir en se connectant si le visiteur est admin (redirect vers page admin) ou user (redirect vers page Mon compte) --}}
        {{#if admin}}
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          {{else if user}}
          <li class="nav-item">
            <a class="nav-link" href="/user">Mon compte</a>
          </li>
        {{/if}}
        

        {{!-- {{#ifCond user.isAdmin '=' '1' }}

        {{/ifCond }} --}}

        {{!-- {{#if user}} --}}
        {{! <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li> }}
        {{!-- {{/if}}

        <li class="nav-item">
          <p>Welcome {{user.name}}</p>
        </li> --}}

        {{! <a class="nav-item nav-link" href="#exvoyage">Exemple de voyages</a>
                <a class="nav-item nav-link" href="#galerie">Galerie</a> }}
      </ul>

      <div class="d-flex">

        {{#if user}}
          <div class="">
            <p class="fw-lighter" id="welcome"></p>
            {{#if admin}}
              <p></p>
            {{/if}}
          </div>
          <a href="/logout" class="btn btn-primary ms-3" role="button">Se Déconnecter</a>
        {{else}}
          <a
            href="/connexion"
            class="btn btn-primary"
            role="button"
          >Connexion</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

{{#if timeoutLogin }}
<script>
  document.getElementById('welcome').innerHTML = "<b>Bienvenue {{user.name}}</b>"

  function timeOut(){
    var time = document.getElementById("welcome");
    time.innerHTML = "";
  }
  setTimeout(timeOut, 5000);
</script>
{{/if }}