 <!-- CARDS -->

    <section class="bg-light pt-5 pb-5" id="exvoyage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-black text-center pb-4">Exemple de voyages</h1>
                    <hr size="4" align="text-center" width="30%" />
                </div>
            </div>

            <div class="row">

                <!-- CARD 1 -->
                {{#each dbArticle }}

                <div class="col-md-4 pb-2 pt-5">
                    <div class="card" style="width: auto;">
                        <img src="{{ img }}" style="height:250px;" class="card-img-top"
                            alt="australie">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">{{ title }}</h2>
                            <p class="card-text"> {{ description }} </p>
                            <a href="https://www.routard.com/guide/code_dest/australie.htm" class="btn btn-danger"
                                target="_blank"><i class="fas fa-globe-asia me-2"></i> Plus d'informations</a>
                        </div>
                    </div>
                </div>

                {{/each}}

            {{!-- <div class="row">

                <!-- CARD 1 -->
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: auto;">
                        <img src="assets/images/australie.jpg" style="height:250px;" class="card-img-top"
                            alt="australie">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">Australie</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor sum.</p>
                            <a href="https://www.routard.com/guide/code_dest/australie.htm" class="btn btn-danger"
                                target="_blank"><i class="fas fa-globe-asia me-2"></i> Plus d'informations</a>
                        </div>
                    </div>
                </div>

                <!-- CARD 2 -->
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: auto;">
                        <img src="assets/images/chine.jpg" style="height:250px;" class="card-img-top" alt="chine">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">Chine</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor.</p>
                            <a href="https://www.routard.com/guide/code_dest/chine.htm" class="btn btn-danger"
                                target="_blank"><i class="fas fa-globe-asia me-2"></i> Plus d'informations</a>
                        </div>
                    </div>
                </div>

                <!-- CARD 3 -->
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: auto;">
                        <img src="assets/images/argentine.jpg" style="height:250px;" class="card-img-top"
                            alt="argentine">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">Argentine</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor.</p>
                            <a href="https://www.routard.com/guide/code_dest/argentine.htm" class="btn btn-danger"
                                target="_blank"><i class="fas fa-globe-americas me-2"></i> Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- CARD 4 -->
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: auto;">
                        <img src="assets/images/thailande.jpg" style="height:250px;" class="card-img-top"
                            alt="australie">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">Thaïlande</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor.</p>
                            <a href="https://www.routard.com/guide/code_dest/thailande.htm" class="btn btn-danger"
                                target="_blank"><i class="fas fa-globe-asia me-2"></i> Plus d'informations</a>
                        </div>
                    </div>
                </div>

                <!-- CARD 5 -->
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: auto;">
                        <img src="assets/images/usa.jpg" style="height:250px;" class="card-img-top" alt="chine">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">USA</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor.</p>
                            <a href="https://www.routard.com/guide/code_dest/etats_unis.htm" class="btn btn-danger"
                                target="_blank"><i class="fas fa-globe-asia me-2"></i> Plus d'informations</a>
                        </div>
                    </div>
                </div>

                <!-- CARD 6 -->
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: auto;">
                        <img src="assets/images/japon.jpg" style="height:250px;" class="card-img-top" alt="argentine">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">Japon</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                commodo ligula eget dolor.</p>
                            <a href="https://www.routard.com/guide/code_dest/japon.htm" class="btn btn-danger"
                                target="_blank"><i class="fas fa-globe-americas me-2"></i> Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </section>