<!-- CAROUSEL -->

    <section id="galerie">
        <div id="carouselExampleTravel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleTravel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleTravel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleTravel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleTravel" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleTravel" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleTravel" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>

            <div class="carousel-inner carouselresponcive ps-2 pe-2">

                <!-- IMAGE 1 -->
                <div class="carousel-item active" data-bs-interval="4000">
                    <img src="assets/images/usa.jpg" class="d-block w-100 sizeimg border border-secondary" alt="/">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Usa</h3>
                    </div>
                </div>

                <!-- IMAGE 2 -->
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/images/argentine.jpg" class="d-block w-100 sizeimg border border-secondary"
                        alt="/">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Argentine</h3>
                    </div>
                </div>

                <!-- IMAGE 3 -->
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/images/japon.jpg" class="d-block w-100 sizeimg border border-secondary" alt="/">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Japon</h3>
                    </div>
                </div>

                <!-- IMAGE 4 -->
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/images/chine.jpg" class="d-block w-100 sizeimg border border-secondary" alt="/">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Chine</h3>
                    </div>
                </div>

                <!-- IMAGE 5 -->
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/images/australie.jpg" class="d-block w-100 sizeimg border border-secondary"
                        alt="/">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Australie</h3>
                    </div>
                </div>

                <!-- IMAGE 6 -->
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/images/perou.jpg" class="d-block w-100 sizeimg border border-secondary" alt="/">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Pérou</h3>
                    </div>
                </div>

                <!-- Button -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleTravel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleTravel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </section>
