<!-- FOOTER -->

{{! <section class="bg-dark text-white">
        <div class="footer">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-2">
                        <img src="assets/images/footer.jpg" alt="" class="w-100 px-3 py-3 rounded-circle" style="height: 250px;">
                    </div>

                    <div class="col-md-8">
                        <form action="newsletter" method="POST">
                            <p>Recevez notre newsletter</p>
                            <p>Suivez l'actualité de nos voyages</p>
                            <div class="col-md- col-lg-6">

                            </div>
                        </form>
                    </div>

                    <div class="col-md-2">
                        <p>#suivez-nous</p>
                        <ul>
                            <li>
                                <a href="https://fr-fr.facebook.com/" target="_blank">
                                    <div class="round">
                                        <i class="fab fa-facebook fs-3"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </section> }}

<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start text-sm-center">Embarquement Immédiat
        2021</div>
      <div class="col-lg-4 my-3 my-lg-0 d-flex justify-content-sm-center">
        <a class="btn btn-primary btn-social mx-2" target="_blank" href="#!"><i
            class="fab fa-twitter"
          ></i></a>
        <a
          class="btn btn-primary btn-social mx-2"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100072126820814"
        ><i class="fab fa-facebook"></i></a>
        <a
          class="btn btn-primary btn-social mx-2"
          target="_blank"
          href="https://www.routard.com/"
        ><i class="fas fa-globe"></i></a>
      </div>
      <div class="col-lg-4 text-lg-end text-sm-center">
        <a class="link-dark text-decoration-none me-3">Copyright &copy; </a>
        <a class="link-dark text-decoration-none" href="/mention">Mentions
          légales</a><a href="#" class="btn btn-primary ms-4"><i
            class="fas fa-angle-up"
          ></i></a>
      </div>

    </div>

  </div>

</footer>