 <!-- FOOTER -->

    <section class="bg-dark text-white">
        <div class="footer">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-2">
                        <img src="assets/images/footer.jpg" alt="" class="w-100 px-3 py-3 rounded-circle" style="height: 250px;">
                    </div>

                    <div class="col-md-8">
                        <form action="newsletter" method="POST">
                            <p>Recevez notre newsletter</p>
                            <p>Suivez l'actualité de nos voyages</p>
                            <div class="col-md- col-lg-6">

                            </div>
                        </form>
                    </div>

                    <div class="col-md-2">
                        <p>#suivez-nous</p>
                        <ul>
                            <li>
                                <a href="https://fr-fr.facebook.com/" target="_blank">
                                    <div class="round">
                                        <i class="fab fa-facebook fs-3"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </section>