<!-- FORMULAIRE -->

<section class="bg-light pt-6 pb-5" id="contact">

  {{! TITRE COMMENTAIRE }}
  <div class="col-md-12">
    <h1 class="text-black text-center pb-4">Contactez-nous</h1>
    <hr size="4" align="text-center" width="30%" />
  </div>

  {{! FORMULAIRE DE CONTACT }}
  <form>
    <div class="container">

      <!-- CHAMPS EMAIL NOM/PRENOM -->

      <div class="row ps-3 pe-3 pt-5">
        <div class="form-floating mb-3 col-md-6">
          <input
            required
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label class="ms-4" for="floatingInput">Entrez votre Email</label>
        </div>

        <div class="form-floating mb-3 col-md-6 ms-0">

          <input
            required
            type="text"
            class="form-control"
            id="floatingInput1"
            placeholder="Nom et Prénom"
          />
          <label class="ms-4" for="floatingText">Votre Nom et Prénom</label>
        </div>
      </div>

      <!-- COMMENTAIRE -->

      <div class="form-floating ms-3 me-3 mb-3">
        <textarea
          required
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea"
          style="height: 200px"
        ></textarea>
        <label for="floatingTextarea2">Commentaire</label>
      </div>

      <!-- CGU -->

      {{! CASE A COCHER }}

      <div class="mb-3 form-check ps-5 pt-3 pb-3 d-flex justify-content-center">
        <input required type="checkbox" class="form-check-input" id="check" />
        <label for="check" class="form-check-label ps-2">Accepter les CGU</label>
      </div>

      {{! BOUTON DE SUBMIT }}
      <div class="row">
        <div class="d-grid gap-2 col-4 mx-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </div>
  </form>

</section>