<!-- HEADER -->

<header>


    <!-- TEXT DE L'IMAGE HOME -->
    <div class="container bd-highlight">
        <div class="row">
            <div class="col-md-12">

                <div class="mt-9">

                    <h1 class="text-center text-uppercase text-black mb-4 text-white fs-7">Un voyage au bout du
                        monde</h1>
                    <p class="text-black text-center text-white w-auto">Lorem ipsum dolor sit amet, consectetuer
                        adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                        dis
                        parturient montes, nascetur ridiculus mus.</p>
                    <!-- comment faire pour avoir un texte centré <p> responsive pour les très petits écrans -->
                </div>
            </div>
        </div>
    </div>
</header>