

<section class="bg-light pt-5 pb-5" id="exvoyage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-black text-center pb-3">Exemple de voyages</h1>
            </div>
        </div>

        <div class="row">

            <!-- CARD 1 -->
            

            <div class="col-md-12 pb-2">
                <div class="card" style="width: auto;">
                    <img src="{{ artID.img }}" style="height:600px;" class="card-img-top"
                        alt="australie">
                    <div class="card-body text-center">
                        <h2 class="card-title text-center mb-4">{{ artID.title }}</h2>
                        <p class="card-text"> {{ artID.description }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>