<section class="bg-light pt-9 pb-5">
    <div class="container">
        <div class="row">

            <!-- CARD 1 -->

            <div class="col-md-12 pb-2">
                <div class="card" style="width: auto;">
                    <img
                        src="{{artID.img}}"
                        style="height:700px;"
                        class="card-img-top"
                        alt="australie"
                    />
                    <div class="card-body text-center">
                        <h2 class="card-title text-center mb-4">{{artID.title}}</h2>
                        <p class="card-text"> {{artID.description}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>