<div class="pt-9">
  <h2 class="text-center pb-5">Créer un nouveau mot de passe :</h2>

  

  {{! Form de edition du mot de passe }}
  <form action="/editPassword/{{ user.id }}" method="POST" class="container">

    <div class="row">
      <input
        class="col-md-6"
        type="hidden"
        name="email"
        value="{{ user.email }}"
      />

      <input
        class="form-control col-md-6"
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />
      <input
        class="form-control col-md-6 mt-4"
        type="password"
        name="passwordConfirm"
        id="passwordConfirm"
        placeholder="Confirm Password"
        required
      />
    </div>

    <button
      class="btn btn-primary mt-4"
      role="button"
      type="submit"
    >
      Envoyer
    </button>

    {{! Hidden }}

  </form>
</div>