<td>

                <!-- MODAL SUPPRESSION ARTICLE -->
                <div class="modal fade" id="deleteArticle" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                    supprimer cet article ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                -Suppression de : *super article*
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-success">Appliquer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>