<section class="pt-8 container-fluid bg-light">
        <div class="pt-5">
            <h5 class="text-center pt-5">Bonjour {{ userID.name }} |  ton email est: {{
            userID.email }} <img class="rounded-pill" src="{{ userID.image }}" height="100px" style="height: 100px;" alt="">
            </h5>
        </div>

    {{! TABS ACCOUNT }}
    <ul class="nav nav-tabs d-flex justify-content-center  pb-3 ps-3 pt-5" id="myTab" role="tablist">
        {{!-- TAB GESTION DU COMPTE --}}
        <li class="nav-item ps-2 pe-2" role="presentation">
            <button class="nav-link  border-2 border-primary active bg-gradient" id="monCompte-tab" data-bs-toggle="tab"
                data-bs-target="#monCompte" type="button" role="tab" aria-controls="monCompte" aria-selected="true">
                Mon Compte
            </button>
        </li>
        {{!-- TAB AVIS ET COMMENTAIRES --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link  bggradient border-2 border-primary" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Mes Avis & commentaires
            </button>
        </li>
    </ul>

    {{! CONTENU TABS ACCOUNT }}
    <div class="tab-content container d-flex justify-content-end  ">
        {{!-- MON COMPTE --}}
        <div class="tab-pane active" id="monCompte" role="tabpanel" aria-labelledby="monCompte-tab">
            {{> users/tableMonCompte }}
        </div>
        
        {{! MES COMMENTAIRES ET AVIS }}
        <div class="tab-pane container-fluid " id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {{> users/tableMesComs }}
        </div>
    </div>
</section>

<script>
    var firstTabEl = document.querySelector('#myTab li:last-child button')
    var firstTab = new bootstrap.Tab(firstTabEl)
    firstTab.show()
</script>


<style>
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
Label the data
*/
    }
</style>