<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Embarquement immédiat</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>

<section class="pt-8">
    <h1 class="text-black text-center">Liste des articles</h1>
    <div class="container pt-3">
        <div class="row d-flex align-items-center">
            
            <div class="card-body col-md-6">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="col-md-2"><i class="btn far fa-thumbs-up" style="size: 7px;"></i></div>
            <div class="col-md-2"><i class="btn far fa-edit"></i></div>
            <div class="col-md-2"><i class="btn far fa-trash-alt"></i></div>
                
        </div>
        

    </div>
</section>